.icon::before{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: cover;
	content: ' ';
}

.icon.star::before{
	background-image: url(../image1/icon/grade-24px.svg);
}
.icon.star:hover::before{
	background-image: url(../image1/icon/grade-24px_hover.svg);
}

.icon.three::before{
	background-image: url(../image1/icon/mo.svg);
}