header{
	font-size: 120px;
	background: #DCDCDC;
	display: flex;
	color: #2F4F4F;
	
	
}
.logotip{
	width:50px;
	height: 50px;
	margin: 40px;
}
.logo{
	flex: 1;
	text-align: center;
	text-shadow: 3px 5px black;
}
.center{
	display: flex;
	background: #DCDCDC;
}	
.menu{	
	
	width: 50px;
	height: 330px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 5px;
	
}
.link-fly{
    position: fixed;
	width:50px;
	overflow:hidden;
	border-radius: 5px;
}
.link-fly:hover{
	width:200px;
	
}
.link{
	display:flex;
	width: 196px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 5px;
	margin-bottom: 15px;
	border: 2px #A9A9A9 solid;
	cursor: pointer;
	background: white;
}
.link:hover{
	width: 196px;
	color: red;
	background: #B0C4DE;
}

.content{	
	display: flex;
	background: #DCDCDC;
	flex: 1;
	
}	
.page{
	display: none;
	flex-wrap: wrap;
	flex: 1;
}
.page:target{
	display: flex;
}

.blok{
	background: white;
	width: 600px;
	height: 540px;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
	margin-left: 15px;
	margin-bottom:15px;
	border-radius: 11px;
}
.heading{
	font-size: 30px;
	display:flex;
    height: 50px;
	line-height: 50px;
    padding-left: 16px;
    border: 3px #F08080 solid;
   	margin-bottom: 5px;
    border-radius: 7px;
	justify-content:space-between;
}
.inside{
	width: 600px;
	flex-wrap: wrap;
	display: flex;
	flex: 1;	
}
.training-block-image{
	flex: 1;
	/* border: 3px #A9A9A9 solid; */
	/* border-width: 3px 0px 3px 3px; */
	/* border-radius: 0px 0px 0px 11px; */
	justify-content: center;
    align-items: center;	
}
.blok.full-screen .training-block-image{
	position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}
.image-inside{
	display: flex;
	height: 100%;
	width:100%;
	justify-content: center;
    align-items: center;
}


.image-inside img{
	max-width: 100%;
	max-height: 100%;
}
.training-block-txt{
	flex: 1;
	font-size: 20px;
	/* border: 2px #A9A9A9 solid; */	
	/* border-radius: 0px 0px 11px 0px; */	
}
.txt-border{
	height: 95%;
	border: 2px #A9A9A9 solid;
	padding: 5px;
}
.insidelinkblok{
	width: 600px;
	line-height: 60px;
	height: 60px;
	font-size: 30px;
	display: flex;
	border-radius: 0px 0px 15px 15px;
	display: none;
	position: absolute;
	align-items:flex-end;
	background: white;
}
.blok:hover .insidelinkblok{
	display: flex;
}
.insidelink{
	display:flex;
	justify-content:space-around;
	flex: 1;
	
}
.inside-link-button{
	flex: 1;
	height: 54px;
	border: 3px #ccc solid;
	border-right: 0;
	border-radius: 11px;
	line-height: 54px;
	border-radius: 0px 0px 0px 0px;
	text-align: center;
}
.inside-link-button:hover{
	color: red;
	background:#B0C4DE;
}
.inside-link-button:first-child{
	border-radius: 0px 0px 0 11px;
}
.inside-link-button:last-child{
	border-radius: 0px 0px 11px 0px;
	border: 3px #ccc solid;
}.news{
	flex-wrap: wrap;
	flex: 1;
	display: flex;	
}


.gallery-blok{
	width: 400px;
	height: 500px;
	display: flex;
	flex-direction: column;
	margin-left: 20px;	
}

.gallery-blok.active .gallery-inside{
	border-color: red;
}
.gallery-blok.full-screen .gallery-inside{
	position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}
.gallery-heading{
	font-size: 30px;
    height: 50px;
	line-height: 50px;
    padding-left: 16px;
    border: 3px #F08080 solid;
   	margin-bottom: 5px;
    border-radius: 7px;
	text-align: center;
}
.gallery-inside{
	display: flex;
	height: 80%;
	width:100%;
	justify-content: center;
    align-items: center;
	border-radius: 11px;
	border: 2px #800000 solid;
	background: #696969;
		
}
.gallery-inside img{
	max-height: 95%;
	max-width: 95%;
}

.window{
	display: flex;
	flex-wrap:wrap;
	flex: 1;
}
.window img{
	max-width: 100%;
	max-height: 100vh;
}
.one-column{
	flex: 1;
}

.two-row{
	display: flex;
	flex-direction: column;
}
.window .two-row img{
	max-height: 50vh;
}
.window-img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.window-img .height img{
	max-height: 50vh;
}
.right-column{
	flex: 2;
}
.page-size{	
	display: flex;
	height: 600px;
	width: 600px;
	flex-direction: column;
	border-radius: 11px;
	border: 2px #808080 solid;
	margin-left:20px;
	margin-bottom:20px;
}
.nice{
	display: none;
}
.naked .nice{        
	display: flex;
}
.naked .wait{
	display: none;
}
.page-size-name{	
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	text-align: center;	
}
.page-size:nth-child(3n){	
	flex-direction: column-reverse;
}
.page-size-img{
	height: calc(100% - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.weit{
	display:flex;
}

.page-size-img img{
	max-height: 100%;
	max-width: 100%;
}
.sisters{
	display: flex;
	height: 600px;
	width: 600px;
	border-radius: 11px;
	border: 2px #808080 solid;
	margin-left:20px;
	margin-bottom:20px;
	flex-wrap:wrap;	
	background:black;
	
}
.sisters.one-image .sisters-img{
	display: none;
}

.sisters.one-image .sisters-img.big{
	display: flex;
	width: 100%;
	height: 100%;
}
	
.sisters-img{
	height: 50%;
	width:50%;	
	display: flex;
	justify-content: center;
	align-items: center;	
}
.sisters-img img{
	max-height: 100%;
	max-width: 100%;
}
.binding{
	display:flex;
	height: 600px;
	width: 1000px;
	border-radius: 11px;
	border: 2px black solid;
	margin-left:20px;
	margin-bottom:20px;	
	background:#696969;
	align-items: center;	
}
.binding img{
	max-height:100%;
	max-width: 100%;
}
.binding-img{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.binding-img.none{
	display: none;
}
.binding-img img{
	max-height:100%;
	max-width: 100%;
}
.carousel{
	display: flex;
	width: 600px;
	height: 600px;	
}
.carousel-centr{
	width: 600px;
	height: 600px;
	display:flex;
	justify-content: center;
	align-items: center;
	background:	#696969;
}
.carousel-centr img{
	max-width: 100%;
	max-height: 100%;
}
.knees{
	display:flex;
	flex-direction:column;
}
.knees-preview{
	width: 600px;
	height: 100px;
	background: #696969;
	margin-top: 30px;
	display:flex;
	justify-content: space-between;
	
}
.knees-preview img{
	max-height: 100%;
}
.knees-preview .active{
	border: 2px red solid;
}
/* .knees-preview img[knees-id='2']{ */
	/* border: 2px red solid; */
/* } */
.orgasm{
	display:flex;
}
.carousel.vertical{
	display:flex;
	flex-direction:column;
	margin-left: 120px;
}
.orgasm-preview{
	width: 100px;
	height: 600px;
	background: #696969;
	display:flex;
	flex-direction:column;
	margin-left: 30px;
	
}
.orgasm-preview img{
	max-width: 100%;
	margin-bottom: 4px;
}
.orgasm-preview .active{
	border: 2px red solid;
}
.cssDivNakedBottom{
	width: 400px;
    height: 500px;
    display: flex; 
    margin-left: 20px;
	flex-direction:column;
	align-items: flex-end;
	margin-bottom: 20px;
}
.nakedBottomContent{
	flex-wrap: wrap;
	flex: 1;
	display: flex;		
}
.nakedBottomContentInside{
	display: flex;
	
	justify-content: flex-end;
    align-items: flex-start;
	position: absolute;
		
}
.nakedBottomContentInsideImg{
	display: flex;
	height: 100%;
	width:100%;
	justify-content: center;
    align-items: center;
	border-radius: 11px;
	border: 2px #800000 solid;
	background: #696969;
	
}
.nakedBottomContentInsideImg img{
	max-height: 95%;
	max-width: 95%;
}
.link-group{
	display: none;
    left: 250px;
    background: azure;
    position: fixed;
    padding: 5px;
    border-radius: 11px;
    border: 2px #808080 solid;

}
.NakedBottomInside .icon.close{
	position: absolute;	
	z-index: 1;
}

footer{
	font-size: 20px;
	background: #DCDCDC;
	text-align: center;
	height: 60px;
    line-height: 60px;
}

.cover{
	position: fixed;
	top: 0px;
	left: 0px;
    width: 100%;
    height: 100vh;	
	background: black;
	opacity: 0.6;
	z-index: 6;
}
.NakedBottomInside .popup .icon.close{
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 12;
	background: gray;
}
.popup{
	display: flex;
	justify-content: center;
    align-items: center;
	position: fixed;
	top: 0px;
	left: 0px;
    width: 100%;
    height: 100vh;	
}
.popup .icon.close{
	position: fixed;	
	z-index: 13;
	top: 0px;
	left: 0px;
}
.popup-content{
	position: fixed;
	z-index: 11;
}
.popup-content img{
	max-width: calc(100% - 100px);
    max-height: 100vh;	
}
.popup-carousel{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icon.skipPrevious,
.icon.skipNext{
	background: gray;	
}
.popupImg{
	display: flex;
	justify-content: center;
    align-items: center;
	position: fixed;
    width: 100%;
    height: 100vh;	
}
.smooth-animation{
	width: 200px;
	height: 200px;
	display: flex;
}

.smooth-animation .red{
	width: 200px;
	height: 200px;
	background: red;
}

.smooth-animation .green{
	width: 0px;
	height: 200px;
	background: green;
}
.reversal-block{
	flex-wrap: wrap;
    flex: 1;
    display: flex;
}
.reversal-content{
    width: 400px;
    height: 500px;
    display: flex;
    margin-left: 20px;    
    margin-bottom: 20px;
	border-radius: 11px;
    border: 5px #800000 solid;
    background: #696969;
	justify-content: center;
    align-items: center;
	
}
.reversal-content img{
	display: flex;
    justify-content: center;
    align-items: center;
	max-height: 100%;
	max-width: 100%;
}
.reversal-img.front{
	width: 400px;
}
.reversal-img.back{
	width: 0px;
}
.reversal-img{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 100%;
}
.reversal-content-alone{
	width: 400px;
    height: 500px;
    display: flex;
    margin-left: 20px;    
    margin-bottom: 20px;
	border-radius: 11px;
    border: 5px #008080 solid;
    background: #696969;
	justify-content: center;
    align-items: center;
}
.reversal-img-alone{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: 100%;
	opacity: 0;
}
.reversal-img-alone img{
	display: flex;
    justify-content: center;
    align-items: center;
	max-height: 100%;
	max-width: 100%;
	
}
.reversal-content-height{
	width: 400px;
    height: 500px;
    display: flex;
    margin-left: 20px;    
    margin-bottom: 20px;
	border-radius: 11px;
    border: 5px #DDA0DD solid;
    background: #696969;
	justify-content: center;
    align-items: flex-start;
}
.reversal-img-height{
	display: flex;
    justify-content: center;
    align-items: flex-start;
	height: 100%;
	width: 100%;
	
}
.reversal-img-height img{
	max-height: 100%;
	max-width: 100%;
	
}
.w-block{
	flex-wrap: wrap;
    flex: 1;
    display: flex;
}
.w-content{
    width: 400px;
    height: 500px;
    display: flex;
    margin-left: 20px;    
    margin-bottom: 20px;
	border-radius: 11px;
    border: 5px #800000 solid;
    background: #696969;
	justify-content: center;
    align-items: center;
	
}
.w-content img{
	display: flex;
    justify-content: center;
    align-items: center;
	max-height: 100%;
	max-width: 100%;
}
.chess-block{
	flex-wrap: wrap;
    flex: 1;
    display: flex;
}
.chess-content{
    width: 400px;
    height: 500px;
    display: flex;
    margin-left: 20px;    
    margin-bottom: 20px;
	border-radius: 11px;
    border: 5px #800000 solid;
    background: #696969;
	justify-content: center;
    align-items: center;	
}
.chess-content-img{
	width: 400px;
    height: 500px;
    display: flex;
	justify-content: center;
    align-items: center;	
}
.chess-content-img img{
	display: flex;
    justify-content: center;
    align-items: center;
	max-height: 100%;
	max-width: 100%;
}
.bald-block{
	flex: 1;
    display: flex;	
	flex-direction:column;
}
.bald-content-up-bottom{
    display: flex;
	height: 200px;
	width: 800px;
	background: gray;
	justify-content:space-between
}

.bald-content-centr{
	display: flex;
	height: 400px;
	width: 800px;
	background: gray;
}
.bald-img-small{
	display: flex;
	height: 200px;
	width: 200px;
	justify-content: center;
    align-items: center;
	opacity: 1;	
}

.bald-img-small img,
.bald-centr-img img{
	max-height: 0%;
	max-width: 0%;
	
}
.bald-centr-img{
	display: flex;
	height: 400px;
	width: 400px;
	justify-content: center;
    align-items: center;
	background: gray;
	opacity: 0;
	
}

.bald-right-left{
	display: flex;
	height: 400px;
	width: 200px;
	background: gray;
	flex-direction:column-reverse;	
}
.left{	
	opacity: 1;
}
.right{	
	opacity: 1;
}
.up{
	opacity: 1;
}
.bottom{
	opacity: 1;
}







.elf-carousel{
	display: flex;
	width: 800px;
	height: 400px;
	margin-left: 40px;	
}
.elf-carousel-centr{
	width: 800px;
	height: 400px;
	display:flex;
	justify-content: center;
	align-items: center;
	background:	#696969;
}
.elf-carousel-centr img{
	max-width: 100%;
	max-height: 100%;
}
.elf-preview{
	width: 800px;
	height: 100px;
	background: #696969;
	display:flex;	
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 40px;
	justify-content: center;
	align-items: center;
}
.elf-preview img{
	max-height: 100%;
	margin-left: 4px;
	margin-right: 4px;
	opacity: 0.4;
	
}
.elf-preview .active {
    border: 2px #4682B4 solid;
	opacity: 1;
}









.orc-block{
	flex: 1;
    display: flex;	
	flex-direction:column;
}
.orc-content{
	width: 400px;
    height: 500px;
    display: flex;
    margin-left: 20px;    
    margin-bottom: 20px;
	border-radius: 11px;
    border: 5px #800000 solid;
    background: #696969;
	justify-content: center;
    align-items: center;	
	flex-direction:column;
}
.orc-content img{
	max-height: calc(100% - 80px);
	max-width: 100%;
	margin-left: 4px;
	margin-right: 4px;
	
}
.orc-content-header{
	display: flex;
	flex-direction:column;
	margin-bottom: 10px;	
}
#orc .name{
	color: #FF69B4;
}
.button-orc-div{
	display: flex;
	margin-bottom: 20px;
	margin-left: 20px;
}
.button-orc{
	width: 100px;
    height: 50px;
	border-radius: 5px;
    border: 2px #696969 solid;
	margin-right: 10px;
	
	

}