.up{
	font-size: 120px;
	color: #FFEFD5;
	background-color: #2F4F4F;
	text-align: center;
	display: flex;
}
.logotip{
	width: 65px;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 35px;
	padding-top: 45px;
	
}
.up1{
	width: 240px;
}
.up2{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.website-name{
	
    text-shadow: 3px 5px black;
}
.mather{
	display: flex;
	background-color: #2F4F4F;
}
.aunt{
	background: silver;
	width: 50px;
	margin-left:20px;
	margin-bottom:15px;
	border-radius: 5px;
	
}

.link-fly{
    position:absolute;
	width:50px;
	overflow:hidden;
	z-index: 300;
}
.link-fly:hover{
    background: silver;
	width:200px;
	border-radius: 5px;
}

.link{
	width: 196px;
	background: white;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	border-radius: 5px;
	line-height: 50px;
	margin-bottom: 15px;
	display:flex;
	align-items: center;
	border: 2px black solid;
	cursor: pointer;
}
.link.icon::before{
	margin: 0 5px;
}
.link:hover{
	width: 196px;
	color: red;
	background: #B0C4DE;
}

.buttom{
	width: 50px;
	height: 50px;
	justify-content: flex-start;
	padding-right:10px;
}
.buttom:hover{
	opacity: 0;
	background-image: url(.../image1/eco-24px (1).svg); 
}



.blok1{
	font-size: 30px;
	color: black;
	background: silver;
	width: 600px;
	height: 540px;
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
	margin-left: 15px;
	margin-bottom:15px;
	border-radius: 11px;
}
.heading{
	display:flex;
    font-size: 30px;
    color: black;
    background: white;
    height: 50px;
    padding-left: 16px;
    border: 5px #F08080 solid;
   	margin-bottom: 20px;
    border-radius: 11px;
	line-height: 50px;
	justify-content:space-between;
}
.mo{
	height: 50px;
	
}
.threedots{
	height: 50px;
	margin-left:5px;
	overflow:hidden;
	width: 50px;
	font-size:20px;
}
.threedots:hover{
	width: 150px;
	height: 200px;
	border: 2px black solid;
	border-radius: 5px;
	background: white;
	position: absolute;
	margin-left: 420;
	display: flex;
	flex-direction: column;
	
	color: gray
	

}
.threedotslincs{
	height: 50px;
	width: calc(100% - 10px);
    padding: 0 5px;	
	border: 1px #2F4F4F solid;
	border-width: 0px 0px 1px 0px;	
	display: flex;
}
 .threedotslincs:first-child{ 
	padding: 0;
	width: 100%; 
	justify-content: flex-end; 
 } 


.threedotslincs:hover{
	background:#B0C4DE;
	color:red;
}
.threedotslincsmo{
	width: 150px;
	height: 200px;
	
	
}
.threedotslincsmo:hover{
	width: 150px;
	height: 200px;
	display:flex;
	justify-content: flex-end;
}
.inside{
	width: 600px;
	flex-wrap: wrap;
	display: flex;

	
}
.image-block{
	width: 300px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-right: 5px;
	
}
.image-block  .kompl1{
	max-width: 280px;
	max-height: 400px;
}
.image-block  .kompl1:hover{
	max-width: 380px;
	max-height: 500px;
}
.insidetxt{
	width: 280px;
	height: 450px;
	border: 1px #2F4F4F solid;
	padding-left:5px;
	overflow-y: scroll;	
}
.insidelink{
	width: 594px;
	height: 60px;
	background: white;
	font-size: 30px;
	display: flex;
	border: 3px #708090 solid;
	border-radius: 0px 0px 15px 15px;
	display: none;
	position: absolute;
	
}
.insidelinkblok{
	width: 300px;
	height: 600px;
	display:flex;
	align-items: flex-end;
	position: absolute;
	
}
.insidelinkblok:hover  .insidelink,
.blok1:hover .insidelink{
	display: flex;
}
.insidelinkright{
	width: 194px;
	height: 54px;
	background: white;
	text-align: center;
	line-height: 60px;
	border: 3px white solid;
	border-radius: 15px;
	line-height: 54px;
	border-radius: 0px 0px 0px 15px;
}
.insidelinkright:hover{
	color: red;
	background:#B0C4DE;
}
.insidelinkcentr{
	width: 194px;
	height: 58px;
	background: white;
	text-align: center;
	line-height: 60px;
	border: 1px #2F4F4F solid;
	line-height: 54px;
	border-width: 0px 1px;
}		
.insidelinkcentr:hover{
	color: red;
	background:#B0C4DE;
}
.insidelinkleft{
	width: 194px;
	height: 54px;
	background: white;
	text-align: center;
	line-height: 60px;
	border: 3px white solid;
	border-radius: 15px;
	line-height: 54px;
	border-radius: 0px 0px 15px 0px;
}
.insidelinkleft:hover{
	color: red;
	background:#B0C4DE;
}
.uncle{
	background: #2F4F4F;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}
footer{
	background: silver;
	text-align: center;
	height: 60px;
    line-height: 60px;
	font-size: 20px;
}
.linkup{
	width: 200px;
	height: 20px;
	background: gray;
}


.topic{
	font-size: 30px;
	display: flex;
	align-items: center;
}
.topic::before{
	content: ' ';
    width: 100px;
    height: 100px;
	background-image: url(../image1/+Topless.jpg);
	background-size: contain;
}

.topic::after{
	content: ' ';
	width: 100px;
    height: 100px;
	background-image: url(file:///D:/+GitHub/Kate4Size/image1/model5.jpg);
	background-size: cover;
}
.training-block{
	width: 550px;
	height: 430px;
	border: 1px black solid;
	margin-left: 25px;
	display: flex;
}
.training-block-image{
	width: 50%;
	height: 100%;
	
}
.training-block-txt{
	width: 50%;
	height: 100%;
	border: 1px black solid;
	border-width: 0px 0px 0px 1px;
	
	
	
}
.training-block-txt-up{
	width: 100%px;
	height: 50%;
	border: 1px black solid;
	border-width: 0px 0px 1px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	
		
}

.training-block-txt-bottom{
	width: 100%;
	height: 210px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.training-block-image-name{
	width: 60px;
	padding-bottom:10px;
	padding-top: 10px;
	font-size:40px;
	writing-mode: tb-rl;
	transform:rotate(180deg);
	border: 1px black solid;
	border-width: 0px 0px 1px 1px;
	background: white;
	margin-top: 253px;
	
}
.training-block-txt-up-name{
	font-size:40px;
	background: white;
	border: 1px black solid;
	border-width: 1px 0px 0px 1px;
	padding-left: 10px;
	padding-right: 10px;
	height: 56px;
	
	
	
}
.training-block-txt-bottom-name{
	font-size:40px;
	writing-mode: tb-rl;
	transform:rotate(180deg);
	background: white;
	border: 1px black solid;
	padding-top: 10px;
	padding-bottom:10px;
	width: 60px;
	
	
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	