#SELECTOR#{
	#styleName#: #styleValue#;
	#styleName#: #styleValue#;
}

header{
	background: #F08080;
	height: 62px;
	font-size: 40px;
}

.main-block{
	display: flex;
}

.left-menu{
	width: 200px;
}
.content{
	flex: 1;
	display: flex;
}

.iris-type{
	font-size: 30px;
	color: blue;
	background: aqua;
	width: 300px;
	height: 200px;
}

.sold .iris-type{
	color: #ccc;
}

.favorite{
	font-size: 50px;
	background-color: red;
	color: blue;
}

.iris-type .image img{
	width: 100px;
}

.logo{
	width: 50px;
	height: 50px;
	border-radius: 50px;
}