.poses{
    display: flex;
}
.pose-container{
    width: 150px;
    height: 200px;
    margin: 10px;
    background: rgb(172, 177, 179);
}
.pose-name{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:center;
}
.pose-name-desc{
    
}