.red{
	width: 100px;
	height: 100px;
	background: red;
	margin: 2px;
}

.sample{
	max-height: 600px;
	text-align:center;
}
.maxmin{
	text-align:center;
}
.add{
	background: red;
}
.reduct{
	background: green;
}
.min,
.max{
	max-height: 600px;
}
.carousel{
	display: flex;
}