.sex-toys-objekt{
    width: 400px;
    height: 250px;
    border: 4px rgb(21, 19, 19) solid;
    padding: 4px;
}
.sex-toys-name{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 40PX;
    font-size: larger;
}
.sex-toys-info{
    display: flex;
}
.sex-toys-txt{
    font-size: large;
    margin-left: 5px;
}
.sex-toys-img-box{
    display: flex;
    width: 196px;
    height: 206px;
    align-items: center;
}
.sex-toys-img{
    max-width: 196px;
    max-height: 206px;
}