<p>sex-toys-category works!</p>

<div class="sex-toys-objekt">
    <div class="sex-toys-name">
        {{sexToys.name}}
    </div>
    <div class="sex-toys-info">
        <div>
            <div class="sex-toys-img-box">
                <img class="sex-toys-img" [src]="sexToys.url" alt="">
            </div>
            
        </div>
        <div>
            <div class="sex-toys-txt">
               здесь будет описание котегории.
            </div>
            <div class="sex-toys-txt">
                {{sexToys.danger}}
            </div>
            <div class="sex-toys-txt">
                {{sexToys.stock}}
            </div>
        </div>
    </div>
</div>
