.images img{
    display: flex;
    max-height: 200px;
    margin: 5px;
    flex-direction: row;
    align-items: center;
    
}
.images{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    
}
.button-click{
    margin: 5px;
    background-color: rgb(146, 176, 177);
}
