.boobs-name{
    display: flex;
    width: 100%;
    height: 60px;
    background: rgb(133, 169, 166);
}
.boobs-name-image{
  max-height: 100%;  
}
.boobs-name-text{
    display: flex;
    font-size: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;

}