.porn-category-objekt{
    
    width: 400px;
    border: 4px rgb(21, 19, 19) solid;
    padding: 4px;
}
.porn-category-name{
    display: flex;
    text-align: center;
    width: 100%;
}
.porn-category-info{
    display: flex;
}
.porn-category-img{
    max-width: 196px;
}