<div class="porn-category-objekt">
    <div class="porn-category-name">
        {{pornCategory.name}}
    </div>
    <div class="porn-category-info">
        <div>
            <div>
                <img class="porn-category-img" [src]="pornCategory.url" alt="">
            </div>
            
        </div>
        <div>
            <div>
               здесь будет описание котегории.
            </div>
            <div>
                {{pornCategory.danger}}
            </div>
        </div>
    </div>
</div>
