<div class="gallery-cat-images">
    <div class="gallery-cat-image-container">
        <img class="gallery-cat-image" src="/assets/images/boobsRule.jpg">
    </div>
    <div class="gallery-cat-image-container">
        <img class="gallery-cat-image" src="/assets/images/boobsRule.jpg">
    </div>
    <div class="gallery-cat-image-container">
        <img class="gallery-cat-image" src="/assets/images/boobsRule.jpg">
    </div>
    <div class="gallery-cat-image-container">
        <img class="gallery-cat-image" src="/assets/images/boobsRule.jpg">
    </div>
</div>