.gallery-cat-images{
    width: 100%;
    background-color: rgb(112, 134, 127);
    display: flex;
    flex-wrap: wrap;

}
.gallery-cat-image-container{
    
}
.gallery-cat-image{
    max-width: 300px;
    margin: 10px;

}