здесь будет сайт
<header [siteName]="title"></header>

<div>
    Sort by:
    <label><input type="radio" name="sortFieldName" 
        value="porn"/> porn</label>
    <label><input type="radio" name="sortFieldName" 
        value="nice" /> nice</label>
</div>
<div class="wifes">
    <wife *ngFor="let wifeObject of sortedWifes" [element]="wifeObject"></wife>
</div>

<router-outlet></router-outlet>
<footer></footer>

<sait-name></sait-name>
<porn-text></porn-text>
<galery></galery>
<porn-categories></porn-categories>
<for-adults></for-adults>
<sex-toys></sex-toys>
